<div class="mt-3">
  <h1>
    Change Password
  </h1>
  <%= form_with model: Current.user, url: update_password_path, method: :patch, data: { turbo: false } do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% form.object.errors.full_messages.each do |message| %>
          <p>
            <%= message %>
          </p>
        <% end %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label"%>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
</div>