<div class="mt-3">
  <h1>
    Change Password
  </h1>
  <%= form_with model: Current.user, url: update_password_path, method: :patch, data: { turbo: false } do |form| %>
    <%= render partial: "shared/form_errors", locals: { form:form } %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label"%>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= form.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>